<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>469664342484-a4t6quv4r5sguufgfduaf3ko1td8snt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469664342484-a4t6quv4r5sguufgfduaf3ko1td8snt8</string>
	<key>API_KEY</key>
	<string>AIzaSyCjY3rrcUWkuf_6N_-KDCQM8eiRDHOtSng</string>
	<key>GCM_SENDER_ID</key>
	<string>469664342484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinaol.SearchID</string>
	<key>PROJECT_ID</key>
	<string>searchid-8a9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>searchid-8a9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469664342484:ios:acd9983885810de8</string>
	<key>DATABASE_URL</key>
	<string>https://searchid-8a9eb.firebaseio.com</string>
</dict>
</plist>